html{ 
  overflow-x: hidden;
  overflow-y: hidden;
}
.main-nav-container {
  display: flex;
  height: 100%;
  z-index: 1;

}


.main-container{
  display: flex;
  /* border: 2px solid red; */
  width: 180vh;
  margin-top : 30px;
  justify-content: center;
  height: 80vh;

}


.list-container{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-behavior: smooth;
  

}
.main-nav-container {
  display: flex;
  height: 100%;
  width: 100%;
  /* position: sticky; */

}
.nav-item {
  display: flex;
  margin-left: 180px;
  height: 100%;
  width: 100%;
  

}
.nav-item-main {
  top: 45px;
  display: flex;
  position: fixed;

}

input[type="text"],
input[type="number"],
input[type="password"],
select {
  background-color: white;
  color: rgb(77, 77, 77);
  height: 24px;
  margin: 2px 0px;
  padding: 2px;
  border-radius: 2px;
  border: 1px solid rgb(165, 165, 164);
}
input[type="date"]{
  background-color: rgb(180, 180, 180);
  color: rgb(255, 255, 255);
  height: 24px;
  width: 170px;
  margin: 2px 0px;
  padding: 2px;
  border-radius: 2px;
  border: 1px solid rgb(165, 165, 164);
}
.log-container, .edit-container, .attendance-container {
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgb(223, 228, 233);
  color: rgb(88, 85, 85);
  margin: 30px;
  border: 5px solid rgb(114, 114, 114);
  border-radius: 10px ;
}
.list-item{
  display: grid;
}
table .item{
  background-color: rgb(29, 29, 29);
  width: 150px;
  padding: 5px;
  border-radius: 5px;
  
}
.item:nth-child(even) { 
  background: rgb(32, 32, 32); 
}

.edit-btn{
 margin: 10px; 
 color: rgb(255, 255, 255);
 background-color: black;
}

@media (max-width:750px){
  .main-container{
    display: flex;
    /* border: 2px solid red; */
    width: 700px;
    justify-content: center;
    height: 80vh;
  
    
  }
}

@media (max-width:440px){

  .main-container{
    display: flex;
    /* border: 2px solid red; */
    width: 560px;
    justify-content: center;
    height: 90vh;
  
  }
}