
.header-container{
    width: 210vh;
    padding: 1px;
    display: flex;
    justify-content: end;
    background-color: rgb(107, 124, 150);
    position: fixed;
    top: 0;
    width: 100%;
}
.logo{
    margin-right: 40px;
    height: 45px;
    width: 50px;

}